body {
    background:purple;
    font-family: 'Gaegu', cursive;

}
h1{
    font-family: 'Amatic SC', cursive;

}



#paragraph1 {
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    font-size: 1rem
}
#paragraph2 {
   font-family: Arial, Helvetica, sans-serif;
   color:black;
   font-size :1rem;
}
@keyframes appear {
    0%{
        transform:scale(0.1)
    }
    60%{
        transform: scale(1.5)
    }
    100%{
        transform: scale(1)
    }
}
#picture {
    animation-name: appear;
    animation-duration: 5s;
}